# System Files
.DS_Store
Thumbs.db

# IDE Settings
.idea/
.vscode/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project
.factorypath
.apt_generated
.sts4-cache
.springBeans

# Backend (Maven)
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar



# Frontend (Node / React / Vite)
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# OS specific files
log/
*.log
